body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    text-align: center;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.grid{
    width: 920px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .img-wrapper{
        position: relative;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
        }

        .content{
            position: absolute;
            inset: 0;
            font-size: 1.5rem;
            padding:1rem;
            background-color: rgba($color:#eee, $alpha: 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img, .content{
            transition: all 200ms ease-in-out;
        }
    }
}

.img-wrapper{
    .content.fade{
        opacity: 0;
    }

    .content.slide-left{
        transform: translate(-100%);
    }

    .content.slide-right{
        transform: translate(100%);
    }

    .content.slide-up{
        transform: translateY(-100%);
    }

    .content.slide-down{
        transform: translateY(100%);
    }

    &:hover{
        .content.fade{
            opacity: 1;
        }

        img.blur{
            filter: blur(5px);
            cursor: pointer;
        }

        img.zoom{
            transform: scale(1.1);
        }

        .content.slide-left{
            transform: translate(0);
        }

        .content.slide-right{
            transform: translate(0);
        }
    
        .content.slide-up{
            transform: translateY(0);
        }
    
        .content.slide-down{
            transform: translateY(0);
        }
    }
}