body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    padding: 2rem;
    text-align: justify;
    line-height: 2rem;
}

*, *::before, *::after{
    box-sizing: border-box;
}

// -----------------------

html{
    scrollbar-width: thin;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar{
    width: 4vw;
}

html::-webkit-scrollbar-thumb{
    background-color: red;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: yellow;
}



html::-webkit-scrollbar-track{
    background-color: green;
}

body{
    background-color: #333;
    color:#ccc;
}